[submodule "sdf_d3d12/vendor/DirectX-Headers"]
	path = sdf_d3d12/vendor/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "sdf_d3d12/vendor/imgui"]
	path = sdf_d3d12/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "sdf_d3d12/vendor/args"]
	path = sdf_d3d12/vendor/args
	url = https://github.com/Taywee/args
